
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap'); */
@import "tailwindcss";


body::-webkit-scrollbar {
  width: 0px;
}

/* for underline hovering effect */

.li-custom {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.li-custom::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: #cfcfcf;
  width: 0%;
  transition: width 0.3s ease;
}

.li-custom:hover::after {
  width: 100%;
  animation: heartbeat116 1.5s ease-in-out 0.3s infinite;
}

@keyframes heartbeat116 {

  0%,
  100% {
    width: 100%;
  }

  50% {
    width: 60%;
  }
}


.font-playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* custom fonts */

@font-face {
  font-family: 'gwynerFont';
  /* Choose a unique name for your font */
  src: local('gwynerFont'), url('./fonts/gwyner-regular.ttf') format('truetype');
  /* Add more src lines for different formats (woff, woff2, etc.) for broader compatibility */
  font-weight: normal;
  /* Adjust as needed */
  font-style: normal;
  /* Adjust as needed */
}

.font-gwynerCondensedFont {
  font-family: 'gwynerFont', sans-serif;
  /* Fallback font is recommended */
}


/* animation for the hero button  */
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 6s linear infinite;
}
/* .animate-spin-slow:hover {
  animation: stop 6s linear infinite;
} */


@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-flex;
  animation: marquee 20s linear infinite;
}
